/* прихований футер попап */
.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btm {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-menu {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%; /* або 1.11 */
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
/* .link-logo-mobile .link-menu {
  color: #2e2f42;
} */

.mobile-menu-nav {
  margin-bottom: 168px;
}

.nav-mobile-list-item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.nav-list-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-adress {
}

.address-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.address-mobile-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: var(--iris);
}
.email-address {
  color: var(--slate);
}

.social-media-list-burger {
  margin-top: 48px;
}
.social-media-list {
  display: flex;
  gap: 40px;
}

.social-media-svg {
  fill: #f4f4fd;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HERO */
.section-hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-color: #2e2f42;
  padding: 72px 0;
  max-width: 321px;
  height: 432px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.hero-title-item {
  margin: auto;
  margin-bottom: 72px;
  width: 216px;
  height: 160px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}

.hero-button-open {
  display: block;
  min-width: 169px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-open:hover,
.hero-button-open:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .section-hero {
    padding: 112px 0;
    max-width: 768px;
    height: 436px;
  }

  .hero-title-item {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-hero {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
  }

  .hero-title-item {
    margin-bottom: 48px;
  }
}

/* principles */

.class-name {
  display: none;
}
.princip {
  padding: 96px 0;
}

.icon-princip {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.princip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.princip-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.princip-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .class-name {
    display: none;
  }

  .princip-list {
    display: flex;
    gap: 24px;
  }

  .princip-item {
    width: calc((100% - 24px) / 2);
  }

  .princip-title {
    display: inline-block;
    margin-bottom: 8px;
  }
  .princip-text {
    line-height: 150%;
    margin: 0;
    padding: 0;
    padding-bottom: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .princip {
    padding: 120px 0;
  }

  .class-name {
    display: block;
  }

  .icon-princip {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .princip-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .princip-list {
    display: flex;
    gap: 24px;
  }

  .princip-item {
    width: calc((100% - 72px) / 4);
  }
}

/*our team */
.our-team {
  display: flex;
  background-color: #f4f4fd;
  padding-bottom: 96px;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
  justify-content: center;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
.our-team-item {
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  color: #ffffff;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-container {
  padding: 32px 0;
}

.our-team-specialists {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #ffffff;
  padding-bottom: 8px;
}

.our-team-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.our-team-links-item {
  width: 40px;
  height: 40px;
}
.our-team-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-links:hover {
  background-color: #404bbf;
}
.our-team-links:focus,
.our-team-links:active {
  background-color: #404bbf;
}
.class-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .our-team-container {
  }

  .our-team-title {
    padding-bottom: 72px;
  }

  .our-team-list {
    gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
}
